/**---navbar component styles---**/
.navText {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 5px;
}
@media (max-width: 30em) {
  .navText {
    font-size: 45px;
  }
}

.navContainer {
  padding-right: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #b30c5d;
}

.navLinkSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 15px;
}

.iconLinks {
  padding-left: 5px;
  padding-right: 10px;
  color: #fff;
  font-size: 18px;
}

.navUserDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media (max-width: 30em) {
  .navUserDetails {
    display: none;
  }
}

.badgeAndIcon {
  margin-left: 10px;
  margin-right: 10px;
}

/**---itemsDisplay component styles---**/

.itemsDisplayContainer {
  padding: 20px;
  margin-top: 30px;
}

.itemsDisplayCardMarg {
  margin-bottom: 20px;
}


/**---Tab navigation---**/
.tabNavNavigation {
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 5.5%;
}
/* @media (max-width: 30em) {
    .tabNavNavigation {
      margin-top: 90%;
    }
  } */